<?xml version="1.0"?>
<Wix>
  <Product Id="D4894DAB-64B8-4B5A-83C5-9E63265E97A1" Name="$(var.productname)" Language="1033" Version="$(var.productversion)" Manufacturer="Jeroen van Menen">
    <Package Id="E56D0DBA-EFDE-4F00-86FD-96140DE07064" Description="$(var.productname)" Comments="For more info and the latests version visit http://watin.sourceforge.net" InstallerVersion="200" Compressed="yes" />
    <!--  Extra info in the Add or Remove Programs Entrie -->
    <Property Id="ARPURLINFOABOUT">http://watin.sourceforge.net</Property>
    <Property Id="ARPURLUPDATEINFO">http://sourceforge.net/project/showfiles.php?group_id=167632</Property>
    <!--  Source media for the installation.   Specifies a single cab file to be embedded in the installer's .msi.  -->
    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
    <!-- Installation directory and files are defined in Files.wxs -->
    <Directory Id="TARGETDIR" Name="SourceDir" />
    <!-- Use Wix UI library -->
    <Property Id="WIXUI_INSTALDIR">INSTALLDIR</Property>
    <UIRef Id="WixUI_FeatureTree" />
    <!-- Features to install -->
    <Feature Id="Complete" Level="1" Title="Complete" Description="All features." Display="expand">
      <Feature Id="Binaries" Level="1" Title="WatiN binaries" Description="Installs all required WatiN binaries. They will be installed in a version specific folder in the WatiN subfolder of the program files folder." TypicalDefault="install" Display="expand">
        <ComponentRef Id="LicenseTxt" />
        <ComponentRef Id="ReadmeTxt" />
        <ComponentRef Id="WatiN.CoreDll" />
        <ComponentRef Id="WatiN.CoreXml" />
        <ComponentRef Id="WatiN.Core.UnitTestsDll" />
        <ComponentRef Id="WatiN.Core.UnitTests.dllConfig" />
        <ComponentRef Id="Microsoft.mshtmlDll" />
        <ComponentRef Id="Rhino.MocksDll" />
        <ComponentRef Id="nunit.frameworkDll" />
        <ComponentRef Id="Interop.SHDocVwDll" />
        <ComponentRef Id="binhtml" />
        <ComponentRef Id="binhtmliframes" />
        <ComponentRef Id="binhtmlimages" />
      </Feature>
      <Feature Id="Documentation" Title="Documentation" Description="Installs the WatiN API documenation." Level="1">
        <ComponentRef Id="WatiNChm" />
        <ComponentRef Id="ReleaseHistoryTxt" />
      </Feature>
      <Feature Id="SourceCode" Title="Source code" Description="Installs the WatiN.Core and WatiN.UnitTests source code." Level="1000">
        <ComponentRef Id="WatiNSln" />
        <ComponentRef Id="CoreSource" />
        <ComponentRef Id="CoreComparers" />
        <ComponentRef Id="CoreConstraints" />
        <ComponentRef Id="CoreDialogHandlers" />
        <ComponentRef Id="CoreExceptions" />
        <ComponentRef Id="CoreIE" />
        <ComponentRef Id="CoreInterfaces" />
        <ComponentRef Id="CoreLogging" />
        <ComponentRef Id="CoreUtilityClasses" />
        <ComponentRef Id="UnitTestsSource" />
        <ComponentRef Id="UnitTestsHTML" />
        <ComponentRef Id="UnitTestsHTMLiframes" />
        <ComponentRef Id="UnitTestsHTMLimages" />
        <ComponentRef Id="UnitTestsAttributeConstraintTests" />
        <ComponentRef Id="UnitTestsComparerTests" />
        <ComponentRef Id="UnitTestsDialogHandlerTests" />
        <ComponentRef Id="UnitTestsIETests" />
      </Feature>
    </Feature>
  </Product>
</Wix>