<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Id="3E606F0E-3A25-4010-8F78-B43F8F411700" Name="WatiN" Language="1033" Version="0.6.3.4000" Manufacturer="Jeroen van Menen">
		<Package Id="????????-????-????-????-????????????" Description="WatiN enables Web Application Testing In dotNet" Comments="This will appear in the file summary stream." InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="WatiN.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLLOCATION" Name="Wat0_6_3" LongName="WatiN 0.6.3">

					<Component Id="WatiNCore" Guid="AD5796EA-E86A-4934-B09E-F73CDAAF3EB2">
						<!-- TODO: Insert your files, registry keys, and other resources here. -->
						<File Id="WatiNDLL" Name="$(var.Core.TargetDosFileName)" src="$(var.Core.TargetPath)" Vital="yes" DiskId="1" />
						<File Id="License" Name="License.txt" src="$(var.Core.ProjectDir)\License.txt" Vital="yes" DiskId="1">
						    <Shortcut Id="StartmenuLicense" Directory="ProgramMenuDir" Name="License" LongName="WatiN LGPL License" WorkingDirectory="INSTALLLOCATION" Icon="License.txt" IconIndex="0" />
						</File>
					</Component>
                    
                    <Component Id="WatiNDocumentation" Guid="0374FAB7-C17A-4dd2-BF22-E64135511224">
                        <File Id="WatinNDoc" Name="WatiN.doc" src="$(var.Core.ProjectDir)\TODO.txt" Vital="yes" DiskId="1">
                            <Shortcut Id="StartmenuDocumentation" Directory="ProgramMenuDir" Name="Doc" LongName="Watin Documentation" WorkingDirectory="INSTALLLOCATION" Icon="WatiN.doc" />
                        </File>
                    </Component>
				</Directory>
			</Directory>
            
            <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
                <Directory Id="ProgramMenuDir" Name="WatiN" LongName="WatiN 0.6.4" />
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" />

		</Directory>

		<Feature Id="Complete" Title="WatiN 0.6.4" Description="The complete package" Display="expand" Level="1" ConfigurableDirectory="INSTALLLOCATION" InstallDefault="local" Absent="disallow">
			<ComponentRef Id="WatiNCore" />
			<ComponentRef Id="WatiNDocumentation" />
		</Feature>
		
		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<Icon Id="License.txt" src="$(var.Core.ProjectDir)\License.txt" />
		<Icon Id="WatiN.doc" src="$(var.Core.ProjectDir)\TODO.txt" />

	</Product>
</Wix>
