<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
    <sectionGroup name="Browsers">
      <section name="Managers" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
  <Browsers>
    <Managers>
      <add key="WatiN.Core.UnitTests.IETests.IEBrowserTestManager" value="WatiN.Core.UnitTests.dll" />
      <add key="WatiN.Core.UnitTests.FireFoxTests.FFBrowserTestManager" value="WatiN.Core.UnitTests.dll" />
      <!--add key="WatinWebDriverBrowser.WDBrowserTestManager" value ="C:\Development\WatiNWebDriverBrowser\WatinWebDriverBrowser\WatinWebDriverBrowser\bin\Debug\WatinWebDriverBrowser.dll" />-->
    </Managers>
  </Browsers>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
